<div class="courses">
    <div class="course-card">
      <div class="course-title">
        {{course.description }}
      </div>
      <img width="300" src={{course.iconUrl}} alt="Logo">
      <div class="course-description">{{course.longDescription}}</div>
    </div>
  </div>
  
  <!-- <div class="courses">
    <div class="course-card">
      <div class="course-title">
        {{courses1.description }}
      </div>
      <img width="300" src={{courses1.iconUrl}} alt="Logo">
      <div class="course-description">{{courses1.longDescription}}</div>
    </div>
  </div> -->
