<div class="courses">
  <div class="course-card" [ngClass]="cardclasses()">      
  <!-- [ngClass]="'beginner'/['beginner']/{'beginner':true}" -->
    <!-- {{ index + 1 }}
    {{ count }} -->
    <div class="course-title"
     [ngStyle]="cardStyles()">                                                             
      {{ coursedetail.description }}
    </div>
    <!-- @ifNgClassComponent, Classoursedetail.id==1){
    <h2>This is ID 1</h2>
    } @else if(coursedetail.iconUrl){

    <img width="300" src="{{ coursedetail.iconUrl }}" alt="Logo" />
    } @else{
    <h2>No image found</h2>
    } -->
    <img [src]="coursedetail.iconUrl"width="300"alt="Logo"*ngIf="isImageVisible(); else noImage"/>
    <ng-template #noImage>
      <h2>No image found</h2>
    </ng-template>
    <div class="course-description">{{ coursedetail.longDescription }}</div>
                <!-- new style -->
    <!-- <div class="coursedetail-category">
      @switch(coursedetail.category){ @case("BEGINNER"){
      <div class="category">Beginner</div>
      } @case("INTERMEDIATE"){
      <div class="category">Intermediate</div>
      } @case("ADVANCED"){
      <div class="category">Advanced</div>
      } @default{
      <div class="category">Unknown</div>
      } }
    </div> -->
                       <!-- Old style -->
    <div class="coursedetail-category" [ngSwitch]="coursedetail.category">
      <ng-container *ngSwitchCase="'BEGINNER'" class="category">Beginner</ng-container>
      <ng-container *ngSwitchCase="'INTERMEDIATE'" class="category">Intermediate</ng-container>
      <ng-container *ngSwitchCase="'ADVANCED'" class="category">Advanced</ng-container>
      <ng-container *ngSwitchDefault class="category">Unknown</ng-container>
    </div>
    <button (click)="onCourseview()">view Course</button>
  </div>
</div>
