<div class="top-menu">
  <img class="logo" src="/assets/images/main-page-logo-small-hat.png" />
</div>

<button (click)="onCourseEdited()">Edit course</button>

<div *ngIf="viewedCourse.description">{{viewedCourse.description+' viewed.'}}</div>

<!-- {{startDate | date:'dd/MM/yy'}}

<p>{{title | uppercase}}</p>
<p>{{title | titlecase}}</p>
<p>{{title | lowercase}}</p>
<p>{{price | number:'3.3-5'}}</p>
<p>{{rate  | percent }}</p>
<p>{{price | currency:'INR'}}</p>
<p>{{courseloop | json}}</p>
<div *ngFor="let entry of testobj |keyvalue">
  {{entry.key+ ':'+entry.value}}
</div> -->



<div class="courses" #container>
  <!-- @for(course of courseloop; 
   track index;
   let index =$index;
   let count=$count;
   let first=$first;
   let last=$last;
   let even=$even;
   let odd=$odd){
  <course-card
    [coursedetail]="course"
    [index]="index"
    [count]="count"
    [class.is-first]="first"
    [class.is-last]="last"
    [class.is-even]="even"
    [class.is-odd]="odd"
    (courseselected)="onClickcoursecard($event)"
  ></course-card>

}
@empty{
  <h1> no course found.</h1>
} -->

 <!-- <course-card *ngFor="let course of courseloop;
 index as  i; first as isfirst; last as islast; even as iseven; odd as isodd" 
 [coursedetail]="course" 
 [class.is-first]="isfirst"
 [class.is-last]="islast"
 [class.is-even]="iseven"
 [class.is-odd]="isodd"
 (courseselected)="onClickcoursecard($event)"></course-card> -->

 <!-- <course-card *ngFor="let course of courseloop;"
  [coursedetail]="course"(courseselected)="onClickcoursecard($event)">
  <img [src]="course.iconUrl"width="300"alt="Logo">
  <h1>This is the content</h1>

 </course-card> -->

<!-- <course-card #cardRef1 [coursedetail]="courseloop[0]"(courseselected)="onClickcoursecard($event)"></course-card>

<course-card #cardRef2 [coursedetail]="courseloop[1]"(courseselected)="onClickcoursecard($event)"></course-card>
 -->

 <ng-template #blankImage let-courseName="description">
  <p class="warn">{{courseName}} has no image yet</p>
  <img src="/assets/images/empty-image.png">
</ng-template>

<ng-container *ngTemplateOutlet="blankImage; context: {description: courseloop[0].description}"> </ng-container> 

    <ng-container *ngTemplateOutlet="blankImage; context: {description: courseloop[1].description}"> </ng-container>

    <hr>
    <hr>




    <course-card  [coursedetail]="courseloop[0]" (courseselected)="onClickcoursecard($event)"
    [noImageTpl] = "blankImage" >

  <img   class="course-image" [src]="courseloop[0].iconUrl"width="300"alt="Logo">

  <!-- <img  #courseimage2 class="course-image" [src]="courseloop[1].iconUrl"width="300"alt="Logo">

  <img  #courseimage3 class="course-image" [src]="courseloop[2].iconUrl"width="300"alt="Logo"> -->

  <div class="course-description">{{ courseloop[0].longDescription }}</div>
<!-- 
  <h1>This is the content</h1> -->

  <!-- <app-course-image [src]="courseloop[0].iconUrl"></app-course-image> -->
 </course-card>

 <course-card  [coursedetail]="courseloop[1]" (courseselected)="onClickcoursecard($event)"
    [noImageTpl] = "blankImage">
  <img   class="course-image" [src]="courseloop[1].iconUrl"width="300"alt="Logo">

  <!-- <app-course-image [src]="courseloop[1].iconUrl"></app-course-image> -->

  <div class="course-description">{{ courseloop[1].longDescription }}</div>
  <!-- <p>This is the paragraph content</p> -->

 </course-card>



<p>text</p>

</div>
